<p>---------------------------------------</p>
<button (click)="OnSubscribe()">Subscribe</button>
<br>
<ng-container *ngFor="let product of productsss">
    Product id: <strong class="text-success">{{product.id}}</strong>
    Product Name:<strong class="text-success">{{product.name}}</strong>
    <br>
</ng-container>

<!-- <table class="table">
    <thead>
        <tr>
            <th>*Id*</th>
            <th>*Name*</th>
            <th>*Username*</th>
            <th>*Email*</th>
            <th>*Address*</th>
            <th>*Company*</th>
            <th>*Website*</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dta of dataFromAPI">
            <td>{{dta.id}}</td>
            <td>{{dta.name}}</td>
            <td>{{dta.username}}</td>
            <td>{{dta.email}}</td>
            <td> {{dta.address.city}} {{dta.address.geo.lat}} {{dta.address.geo.lng}} {{dta.address.street}} {{dta.address.suite
            }} {{dta.address.zipcode}}</td>
            <td>{{dta.company.name
            }} {{dta.company.catchPhrase}} {{dta.company.bs
            }}
        </td>
            <td>{{dta.website}}</td>
        </tr>
    </tbody>
</table> -->
