<div class="buynow">
    <img class="card-img-top" src="../../assets/images/washing.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Washing MAchine</h5>
      <div class="_2Tpdn3 _18hQoS" style="color: rgb(0, 0, 0); font-size: 12px; font-weight: 400;">No Cost EMI from ₹3,125/month</div>
      <div class="_30jeq3 _1_WHN1">₹17,500</div>
      <div >
         <del> ₹19,500</del>
      </div>
      <a class="btn btn-warning">Buy Now</a>
      <a class="btn btn-warning" style="margin-left: 10px;">Add To Cart</a>

    </div>
  </div>
