<div class="buynow">
    <img class="card-img-top" src="../../assets/images/tv.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">TV</h5>
      <div class="_2Tpdn3 _18hQoS" style="color: rgb(0, 0, 0); font-size: 12px; font-weight: 400;">No Cost EMI from ₹6,125/month</div>
      <div class="_30jeq3 _1_WHN1">₹31,299</div>
      <div >
        <del> ₹34,499</del>
     </div>
      <a  class="btn btn-warning">Buy Now</a>
      <a class="btn btn-warning" style="margin-left: 10px;">Add To Cart</a>
    </div>
  </div>
