
div{
    padding-top: 10px;
    padding-left: 10px;
    
}
label{
    padding-left: 10px;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
    box-shadow: 0 0 13px #ff000021;
}

.container{
    background-color: rgb(233, 220, 220);
    border: 2px solid rgb(27, 25, 25);
    border-radius: 20px;
    
    
}
h1{
    text-align: center;
    background-color: rgb(250, 126, 126);
}