

 <div style="text-align: center;">
<h2>Add and Remove assignment</h2>

<input  class="input-group mb-3" #myuser  placeholder="Enter Item">
<button  type="button"  (click)="onclick(myuser)" >Add List</button>
<table class="table table-light mt-3">
  <thead class="thead-light">
  <tr>
    <th>Add Item</th>
    <th>Delete Item</th>
  </tr>
</thead>
  <tbody>
    <tr *ngFor="let i of users">
    <td>{{i}}</td>
    <td>
      <button  (click)="ondelete(users)"   type="button" class="btn btn-danger btn-lg">Delete Item</button>
    </td>
  </tr>
   </tbody>
</table>
</div>